{% extends 'base.html.twig' %}

{% block title %}New Payment{% endblock %}

{% block body %}

    {{ include('payment/_form_paypal.html.twig') }}

    <a href="{{ path('payment_index') }}">back to list</a>



{% endblock %}